
* {box-sizing: border-box;}
.row::after {content: "";clear: both;display: table;}
[class*="col-"] {float: left;padding: 15px;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
  margin-top: 96px;
}

.news {
  background-color: #fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: auto;
  margin: 16px 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 150ms;
  line-height: 1.23rem;
}
h3{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  color: #d32f2f;
  cursor: default;

}
p{
  margin: 4px;
  font-size: medium;
  font-weight: 300;
  color: #484848;
  cursor: default;
  overflow: hidden;
}
a.button {
  float: right;
  color: #d32f2f;
  text-decoration: none;
  padding: 6px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 2px;
}
a.button:hover{
  background-color: rgba(252, 51, 51, 0.1);
}
img{
  width: 100%;
  min-height: 100%;
  image-rendering: optimizeSpeed;
  height: auto;
  max-height: 100%;
}
.nodescription{
  min-width: 50%;
  min-height: 50px;
}
.flex-img{
  -webkit-justify-content: center;
  justify-content:center;
}
.filter-container{
  position: fixed;
  top: 48px;
  right: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.14) 0 0 2px 0, rgba(0, 0, 0, 0.28) 0 2px 4px 0;
  overflow: hidden;
}
.filter {
  margin-left: 0vw;
  list-style-type: none;
  padding: 0;

}
.filter button {
  cursor: pointer;
}
.filter button:focus {
  opacity: 1;
  outline: none;}
.filter button {
  border: none;
  margin: 8px 2px;
  background-color: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  text-align: center;
  padding: 6px;
  opacity: 0.6;
  transition: 150ms;
}

.filter button:hover {
  opacity: 1;
  transition: 150ms;
}
@media (min-width: 600px) {
  .filter {
    margin-left: 5vw;
    float: left;
  }
}
@media (min-width: 1000px){

  .filter {
    margin-left: 20vw;
    float: left;
  }
}
