<div class="container">
  <div class="info col-12">
    <h3>Project by Reiqu</h3>
    <p>If you like my news project, you can see my other projects here</p>
    <a href="https://reiqu.icu/"><i class="fas fa-home"></i> Reiqu</a>
  </div>
</div>
<div class="">
  <div class="info">
    <h3>Open Source!</h3>
    <p>This site is open source! You can fork it and do anything you want to do.</p>
    <a href="https://github.com/reiqu/simple-news"><i class="fab fa-github"></i> Github</a>
  </div>
  <div class="info">
    <h3>Powered by NewsAPI.org</h3>
    <p>
      Get breaking news headlines, and search for articles from over 30,000 news sources
      and blogs with their API.
    </p>
    <a href="https://newsapi.org/"><i class="fas fa-link"></i> NewsAPI</a>
  </div>
</div>
