<nav>
  <ul class="nav">
    <li routerLink="/germany" routerLinkActive="current"><a>Germany</a></li>
    <li routerLink="/usa" routerLinkActive="current"><a>USA</a></li>
    <li routerLink="/uk" routerLinkActive="current"><a>United Kingdom</a></li>

    <li routerLink="/account" routerLinkActive="current" class="right"><a><i class="fas fa-user fa-lg"></i></a></li>
    <li routerLink="/info" routerLinkActive="current" class="right"><a><i class="fas fa-question fa-lg"></i></a></li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
